examples/batch-render-workflow.json
{
  "name": "SudoMock - Sequential Batch Render (10 Renders)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "When clicking Test workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "operation": "uploadPsd",
        "psdFileUrl": "https://drive.usercontent.google.com/download?id=1CVh67lYHkyCHRw6NGJYYWLRar65E6b9K&export=download",
        "psdName": "Batch Render Test - Mockup Template"
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "1. Upload PSD Template",
      "type": "n8n-nodes-sudomock.sudoMock",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "notes": "Upload the mockup template once"
    },
    {
      "parameters": {
        "operation": "getMockup",
        "getMockupUuid": "={{ $json.data.uuid }}"
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "2. Get Mockup Details",
      "type": "n8n-nodes-sudomock.sudoMock",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "notes": "Get mockup details and smart object UUIDs"
    },
    {
      "parameters": {
        "jsCode": "// Create array of 10 different design URLs to render\nconst designs = [\n  \"https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1558618666-fcd25c85cd64?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1509042239860-f550ce710b93?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1557672172-298e090bd0f1?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1557672199-6ff6d63b9781?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1541701494587-cb58502866ab?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1578301978018-3005759f48f7?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?w=1000&q=80\",\n  \"https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?w=1000&q=80\"\n];\n\n// Get mockup data from previous node\nconst mockupData = $input.item.json.data;\n\n// Create output items - one for each design\nreturn designs.map((designUrl, index) => ({\n  json: {\n    mockupUuid: mockupData.uuid,\n    smartObjectUuid: mockupData.smart_objects[0].uuid,\n    designUrl: designUrl,\n    renderNumber: index + 1,\n    totalRenders: designs.length\n  }\n}));"
      },
      "id": "d4444444-4444-4444-4444-444444444444",
      "name": "3. Prepare 10 Designs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "notes": "Create array of 10 different design URLs"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "4. Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        400
      ],
      "notes": "Process one render at a time sequentially"
    },
    {
      "parameters": {
        "operation": "render",
        "mockupUuid": "={{ $json.mockupUuid }}",
        "smartObjects": {
          "items": [
            {
              "uuid": "={{ $json.smartObjectUuid }}",
              "assetUrl": "={{ $json.designUrl }}",
              "fit": "cover",
              "additionalOptions": {
                "rotate": 0,
                "brightness": 0,
                "contrast": 0,
                "opacity": 100
              }
            }
          ]
        },
        "exportOptions": {
          "imageFormat": "webp",
          "imageSize": 1920,
          "quality": 90,
          "exportLabel": "={{ 'batch-render-' + $json.renderNumber }}"
        }
      },
      "id": "f6666666-6666-6666-6666-666666666666",
      "name": "5. Render Mockup",
      "type": "n8n-nodes-sudomock.sudoMock",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ],
      "notes": "Render one mockup at a time - waits for completion before next"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.renderedImageUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "g7777777-7777-7777-7777-777777777777",
      "name": "6. Check Render Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        400
      ],
      "notes": "Verify render was successful"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "h8888888-8888-8888-8888-888888888888",
      "name": "7. Wait Between Renders",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "webhookId": "batch-render-wait",
      "notes": "2 second delay between renders to avoid rate limits"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ 'Render ' + $('5. Render Mockup').item.json.renderNumber + '/' + $('5. Render Mockup').item.json.totalRenders + ' completed' }}"
            },
            {
              "name": "renderedUrl",
              "value": "={{ $('5. Render Mockup').item.json.renderedImageUrl }}"
            },
            {
              "name": "designUsed",
              "value": "={{ $('5. Render Mockup').item.json.designUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "i9999999-9999-9999-9999-999999999999",
      "name": "8. Log Progress",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "notes": "Track progress of each render"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_message",
              "value": "={{ $('5. Render Mockup').item.json.error || 'Render failed' }}"
            },
            {
              "name": "render_number",
              "value": "={{ $('5. Render Mockup').item.json.renderNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "j0000000-0000-0000-0000-000000000000",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1780,
        500
      ],
      "notes": "Capture any failed renders"
    },
    {
      "parameters": {
        "jsCode": "// Collect all successful renders\nconst allRenders = $input.all();\n\nconst summary = {\n  totalRenders: allRenders.length,\n  successfulRenders: allRenders.filter(item => item.json.renderedUrl).length,\n  failedRenders: allRenders.filter(item => item.json.error_message).length,\n  renderedUrls: allRenders\n    .filter(item => item.json.renderedUrl)\n    .map(item => item.json.renderedUrl),\n  mockupUuid: $('2. Get Mockup Details').item.json.data.uuid,\n  completedAt: new Date().toISOString()\n};\n\nreturn [{ json: summary }];"
      },
      "id": "k1111111-1111-1111-1111-111111111111",
      "name": "9. Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        400
      ],
      "notes": "Summary of all batch renders"
    },
    {
      "parameters": {
        "operation": "deleteMockup",
        "deleteMockupUuid": "={{ $('2. Get Mockup Details').item.json.data.uuid }}"
      },
      "id": "l2222222-2222-2222-2222-222222222222",
      "name": "10. Cleanup - Delete Mockup",
      "type": "n8n-nodes-sudomock.sudoMock",
      "typeVersion": 1,
      "position": [
        2440,
        400
      ],
      "notes": "Clean up - delete the test mockup"
    }
  ],
  "connections": {
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "1. Upload PSD Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Upload PSD Template": {
      "main": [
        [
          {
            "node": "2. Get Mockup Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Get Mockup Details": {
      "main": [
        [
          {
            "node": "3. Prepare 10 Designs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Prepare 10 Designs": {
      "main": [
        [
          {
            "node": "4. Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Split Into Batches": {
      "main": [
        [
          {
            "node": "5. Render Mockup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Render Mockup": {
      "main": [
        [
          {
            "node": "6. Check Render Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Check Render Success": {
      "main": [
        [
          {
            "node": "7. Wait Between Renders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Wait Between Renders": {
      "main": [
        [
          {
            "node": "8. Log Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Log Progress": {
      "main": [
        [
          {
            "node": "4. Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "4. Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Split Into Batches": {
      "main": [
        null,
        [
          {
            "node": "9. Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Final Summary": {
      "main": [
        [
          {
            "node": "10. Cleanup - Delete Mockup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}
